body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background-color: #f5f5f5; /* Light grey background */
}

.searchInputs {
  margin-top: 50px;
  display: flex;
  position: relative;
}

.search {
  padding: 10px;
  font-size: 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #ccc; /* Light grey border */
  background-color: #fff; /* White background */
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: transparent;
  display: grid;
  place-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  width: 100%;
  margin: 50px 0px;
  border-spacing: 15px;
  color: #444;
  border-collapse: collapse; /* Add this to handle the border of the cells */
}

tr {
  margin-bottom: 20px;
}

th {
  width: 250px;
  text-align: left;
  font-size: 20px;
  padding: 10px; /* Add padding to the header cells */
}

td {
  width: 250px;
  font-size: 20px;
  padding: 10px; /* Add padding to the data cells */
}

.suggestion {
  font-weight: bold;
  font: 1.2rem "Fira Sans", sans-serif;
}
