body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 0;
}
.searchInputs {
  margin-top: 105px;
  display: flex;
  position: relative;
}
.search {
  padding: 10px;
  font-size: 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #f7f7f7;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: transparent;
  display: grid;
  place-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

table {
  width: 100%;
  margin: 50px 0px;
  border-spacing: 15px;
  color: #444;
}

tr {
  margin-bottom: 20px;
}

th {
  width: 250px;
  text-align: left;
  font-size: 20px;
}

td {
  width: 250px;
  font-size: 20px;
}
